
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#info {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: cornflowerblue;
}